/* WARNING, SHITTY CSS AHEAD!!!!! */
/* Definitely needs some cleaning. I'm amazing at naming things, after all. */

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'unifont';
    src: url(./fonts/unifont.woff);
}

body {
    font-family: 'unifont';
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: 1rem;
    background-color: rgb(44, 34, 51);
    color: rgb(255, 255, 255);
}

main {
    margin: 0.5rem auto;
    width: 35rem;
    height: fit-content;
    color: rgb(255, 255, 255);
    background-color: #3d3047;
    border: 0.1rem solid rgb(209, 154, 255);
    text-align: left;
    padding: 0.3rem;
}

div .buttons a {
    text-decoration: none;
}

.socials {
    background-color: #3d3047;
    border: 0.1rem solid rgb(209, 154, 255);
    margin: 0.5rem auto;
    width: fit-content;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: left;
    line-height: 0.9rem;
}

table, td {
    border-left: 25px solid transparent;
    margin-left: -2.5rem;
}

.buttons {
    background-color: #3d3047;
    border: 0.1rem solid rgb(209, 154, 255);
    margin: 0.5rem auto;
    width: fit-content;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.container {
    /* all clear */
    text-align: center;
}

header p {
    display: inline-grid;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    padding: 0;
}

header nav {
    text-align: center;
    margin: 0.5rem;
    font-size: 1rem;
    color: rgb(192, 103, 255);
    padding: 0;
}

#titlelower {
    font-size: 1.2rem;
    padding: 0;
    color: rgb(255, 255, 255);
    display: inline-grid;
    width: 35rem;
    border-bottom: 0.125rem solid rgb(209, 154, 255);
}

.imgbutton:hover {
    box-shadow: 0 0rem 1rem 0 rgb(209, 154, 255);;
}

footer {
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

a:link {
    text-decoration: underline dotted;
    color: rgb(209, 154, 255);
}

a:hover {
    background-color: transparent;
    text-shadow: 0 0 0.313rem rgb(209, 154, 255);
}

a:visited {
    color: rgb(149, 109, 182);;
}

.social-logo {
    margin-bottom: -0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0rem;
}

.social-logo:hover {
    filter: drop-shadow(0 0 0.2rem #1185fe);
}

.slgh {
    margin-bottom: -0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0rem;
}

.slgh:hover {
    filter: drop-shadow(0 0 0.2rem #c8d5e2);
}

.wmi {
    margin-bottom: -0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0rem;
}

.wmi:hover {
    filter: drop-shadow(0 0 0.2rem plum);
}

.logo {
    width: 5rem;
    height: 5rem;
}

.logo:hover {
    filter: drop-shadow(0 0 0.2rem plum);
}

.refreshnotice {
    padding: 0;
    color: white;
    margin: 0 auto;
}

noscript {
    color: rgb(255, 255, 255);
}