/* General styling */
body {
    font-family: "UniFont";
    src: url("./resources/unifont-16.0.01");
    background-color: rgb(20, 20, 20);
    color: white;
}

div.container {
    width: 38.5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 6.25rem;
    word-wrap: break-word;
    white-space: normal;
    background-color: rgb(36, 36, 36);
    border-radius: 0.5rem;
    padding: 0.313rem;
    position: relative;
}

h1.section {
    text-align: left;
}

hr.solid {
    color: rgb(88, 83, 83);
}

div.buttons {
    overflow-wrap: break-word;
}

div.buttons a {
    text-decoration: none;
}

/* Navigation style */
nav.nav-items {
    text-align: right;
    margin-bottom: 0rem auto;
}

/* Font scaling & colors */
p {
    font-size: 1rem;
    line-height: 1.2rem;
}

h1.nephcom {
    font-size: 3rem;
    color: plum;
    text-align: left;
    border-bottom: 0.125rem solid rgb(88, 83, 83);
    width: 15.625rem;
    margin-top: 0rem;
}

img.logo {
    width: 5rem;
    height: 5rem;
}

img.logo:hover {
    filter: drop-shadow(0 0 0.2rem plum);
}

h1.projects {
    font-size: 3rem;
    color: plum;
    text-align: left;
    border-bottom: 0.125rem solid rgb(88, 83, 83);
    width: 15.625rem;
}

/* Links */
a:link {
    color: plum;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: plum;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: 0 0 0.313rem plum;
}

a:visited {
    color: plum;
    background-color: transparent;
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 7.8rem;
}

.social-logo {
    margin-bottom: -0.25rem;
    width: 1.25rem;
    height: 1.25rem;
}

.social-logo:hover {
    filter: drop-shadow(0 0 0.2rem #1185fe);
}

.imgbutton:hover {
    box-shadow: 0 0rem 1rem 0 plum;
}
/* 404 Style */
div.fourcontainer {
    text-align: center;
    font-size: 2.188rem;
}

.small-warning {
    margin-top: 0rem;
    font-size: 0.80rem;
    margin-bottom: -0.70rem;
    padding: 0rem;
}